header {
  height:600px;
  transition: height .3s ease; 
  display:table;
  width: 100%;
  background-color: #000;
  background-image: url('../images/hero.jpg');  
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center top;
  

  /* Scale it nicely to the element */
  background-size: 100%;
  z-index:10;
  position: relative;

  .header-wrapper {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
  }
  
  .logo {
    width: 284px;  
    height: 110px;
    display:inline-block;
    background:url('../images/logo.png') no-repeat 0 0;

    @include at2x('../images/logo@2x.png', 284px, 110px);
    
  }
  
  .sub {
    color:#fff;
    font-size:25px;
    position: relative;
    bottom:-100px;
    text-align:center;    
    width: 80%;
    margin:0 auto;    
  }

  @media (min-width: 1600px) {
    background-size:100%;  
  }

  @media (max-width: $screen-md-max) {
    height:600px;  
  }
  
  @media (max-width: $screen-md-max) {
    height:600px;  
    background-size: 160%;    
  }

  @media (max-width: $screen-sm-max) {
    height:600px;  
    background-size: 200%;       
  }

  @media (max-width: $screen-xs-max) {
    height:500px;  
    background-size: 260%;           
    .logo {
      width: 200px;
      height:77px;
      background-size:200px 77px;
    }
    
    .sub {
      font-size:20px;
      line-height:23px;
      bottom:-80px;
      padding:0 15px;
    }    
    
  }
  
  @media (max-width: $screen-xs) {
    height:500px;  
    background-size: 280%;           
    .sub {
      font-size:18px;
      line-height:21px;
      bottom:-80px;
    }    
    
  } 
  
  @media (max-width: 320px) {
    height:500px;  
    background-size: 340%;              
    
  }    
  
}


.single-products {
  header {
    background-size: 100%;    
    height:460px;  
    background-position:center top;
    .logo {
      display:none;  
    }
    
    @media (max-width: 1560px) {
      background-size: 130%;          
    }  
    
    @media (max-width: 1080px) {
      background-size: 150%;          
    }      
    
    @media (max-width: $screen-md-max) {
      height:400px;  
    }
  
    @media (max-width: $screen-sm-max) {
      height:300px;          
    }
  
    @media (max-width: $screen-xs-max) {
      height:250px;  
      background-size: 180%;       
    } 
    
    @media (max-width: $screen-xs) {
      height:250px;  
      background-size: 230%;       
    }     

    @media (max-width: 374px) {
      background-size: 270%;       
    }             
    
  } 
}



.single-recipes {
  header {
    background-size: 100%;    
    height:600px;  
    background-position:center top;
    .logo {
      display:none;  
    }
    
    @media (max-width: 1560px) {
      background-size: 130%;          
    }  
    
    @media (max-width: 1080px) {
      background-size: 150%;          
    }      
    
    @media (max-width: $screen-md-max) {
      height:400px;  
    }
  
    @media (max-width: $screen-sm-max) {
      height:400px;          
    }
  
    @media (max-width: $screen-xs-max) {
      height:400px;  
      background-size: 180%;       
    } 
    
    @media (max-width: $screen-xs) {
      height:400px;  
      background-size: 220%;       
    }     

    @media (max-width: 374px) {
      //background-size: 270%;       
    }             
    
  } 
}


.search,
.page-template-tmpl-where-to-buy,
.page-template-tmpl-contact-us,
.page-template-tmpl-products,
.page-template-tmpl-recipes {
  header {
    height:290px;  
      
    .logo {
      display:none;  
    }   
    
    #logo {
      display:inline-block;  
    }   
      
    @media (max-width: $screen-md-max) {
      height:250px;  
    }
  
    @media (max-width: $screen-sm-max) {
      height:250px;  
    }
  
    @media (max-width: $screen-xs-max) {
      height:200px;  
    }     
    
  }   
}