nav#top {
  position: fixed;  
  top:0;
  left:0;
  width: 100%;
  height:150px;
  padding-top:80px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.67) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.67) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.67) 0%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab000000', endColorstr='#007db9e8',GradientType=0 );
  z-index:1000;
  //transition:all .5s ease;
  &.sticky {
   position:fixed;
   top:0;
   height:90px;
   padding-top:35px;
   background:rgba(0,0,0,0.8); 
   
    #logo {
     opacity:0; 
    }
   
    #sticky-logo {
      display:block; 
      top:0;
    }
  }  
  
  #mobile-nav {
    display:none;  
  }
  
  ul {
    margin:0;
    padding:0;
    list-style:none;
    white-space:nowrap;
     
    li {
      margin-right:12%;  
      display:inline-block;     
      &.current-menu-item  {
        a {
          opacity:1;  
        }  
      } 
    }
    
    a { 
      display:inline-block;
      text-transform:uppercase;
      letter-spacing:.05em;
      color:#eee;
      font-size:13px;
      transition: all .3s ease;
      font-weight:700;
      opacity:1;
      cursor:pointer;
      &:last-child {
        margin:0;  
      }      
      &:focus,
      &:active {
        text-decoration:none;  
      }
      &:hover {
        text-decoration:none;
        opacity:0.6;  
      }
    }     
    
  }
  
  #nav-left {
    float:left;  
    width: 50%;
    text-align:left;
  }  
  
   #nav-right {
    float:right;  
    width: 50%;    
    text-align:right;    
    padding-right:100px;    
  }   
  
  .social {
    position: absolute;
    top:-1px;
    right:15px;
    li {
      margin-right:10px;      
      &:last-child {
        margin:0;  
      }
      a {
        font-size:16px;  
      }  
    }
  }  
  
  @media (max-width:$screen-md-max) {
    
    padding-top:50px;
    
    .container {
      width: 100%;
      padding:0 40px;
    }
    
    .row,
    .col-xs-12 {
      margin:0;
      padding:0;
    }
    
    ul { 
      li {
        margin-right:20px;  
      }  
    }  
     
    .social {
      right:0;
      li {
        margin-right:6px;      
      }
    }     
  } 
  
  #sticky-logo {
    position: absolute;  
    width: 138px;
    height:53px;
    display:inline-block;
    position: absolute;
    top:-150px;
    left:50%;
    margin-left:-69px;
    margin-top:-20px;
    background:url('../images/logo-nav.png') no-repeat 0 0;
    transition:all .5s ease;  
    @include at2x('../images/logo-nav@2x.png', 138px, 53px); 
  }
  
  #logo {
    width: 179px;
    height:69px;
    display:inline-block;
    position: absolute;
    top:0;
    left:50%;
    margin-left:-90px;
    margin-top:-30px;
    background:url('../images/logo-nav-default.png') no-repeat 0 0;
    transition:all .2s ease;
    opacity:1;
    @include at2x('../images/logo-nav@2x.png', 179px, 69px);
    display:none;
  }
  
  
  @media (max-width: $screen-sm-max) {
    
    ul { 
      li {
        margin-right:15px;  
        a {
          font-size:12px; 
        }
      }  
    }      
    
    .social {
      top:0;      
      li {
        margin-right:4px;      
      }
    }      
    
    #nav-right {
      padding-right:85px;
    }      
    
    #logo {
      width: 140px;  
      height: 54px;
      margin-left:-70px;
      background-size:140px 54px;
    }  
  }   
  
  
  @media (max-width: 840px) {
    height:70px;
    padding-top:14px;
    
    &.sticky {
      height:70px;
      padding-top:14px;  
    }
    
    #mobile-nav {
      display:block;  
      position: absolute;
      top:5px;
      right:0;
      color:#fff;
      font-size:25px;
      &.active {
        color:$brand-primary;  
      }
    }
    
    #sticky-logo {
      width: 103px;
      height: 40px;  
      background-size:103px 40px;      
      margin:0;
      left:0;
    }
    #logo {
      width: 103px;
      height: 40px;  
      background-size:103px 40px;
      left:0;
      margin:0;
      top:0;
    }
    
    #nav-left,
    #nav-right {
       display:none;
    }        
    
  }  
  
}




.page-template-tmpl-our-story,
.home {
  nav#top {
    #logo {
      display:none;  
    }
  }  
}

.page-template-tmpl-where-to-buy,
.page-template-tmpl-contact-us {
  nav#top {
    #logo {
      display:inline-block;  
    }    
  }
}

.page-template-tmpl-products,
.single-products {
  nav#top {
    li.menu-item-18 {
      a {
        opacity:1;
      }
    }  
    
    #logo {
      display:inline-block;  
    }
    
  }  
}